<div class="row">
  <div class="col-sm-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title">
          <i class="fa fa-pencil fa-fw" aria-hidden="true"></i> Edit List
        </span>
      </div>
      <div class="panel-body">
        <%= form_for @list do |f| %>
          <div class="form-group <%= "has-error" if @list.errors[:name].any? %> form-group-in-panel">
            <div class="input-group">
              <%= f.text_field :name, placeholder: @list.errors.full_messages_for(:name).first, class: "form-control", 'aria-describedby': "name-addon" %>
              <span class="input-group-btn">
                <%= button_tag(type: "submit", class: "btn btn-default") do %>
                  <i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i>
                <% end %>
              </span>
            </div>
            <%= f.submit :style => "display: none" %>
          </div>
        <% end %>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <h5 class="list-group-item-heading">Users</h5>
          <span class="list-group-item-text">
            <%= form_for @list do |f| %>
              <div class="form-group <%= "has-error" if flash[:alert] %> form-group-in-panel">
                Share list with another account holder:
                <div class="input-group">
                  <%= f.fields_for :users, User.new do |users_fields| %>
                    <%= users_fields.email_field :email, placeholder: "Enter user's email address", class: "form-control", 'aria-describedby': "new-user-addon" %>
                  <% end %>
                  <span class="input-group-btn">
                    <%= button_tag(type: "submit", class: "btn btn-#{button_class(flash)}") do %>
                      <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>
                    <% end %>
                  </span>
                </div>
                <!-- <%= f.submit :style => "display: none" %> -->
              </div>
            <% end %>
          </span>
        </li>
        <% @list.users.each do |user| %>
          <li class="list-group-item user-in-edit-panel">
            <div class="user-in-edit-panel">
              <% if user == current_user %>
                <i class="fa fa-user-circle fa-fw text-primary" aria-hidden="true"></i>
              <% else %>
                <i class="fa fa-user-circle-o fa-fw text-success" aria-hidden="true"></i>
              <% end %>
              <%= user.name %>
              <% if @list.owner == user %>
                <span class="label label-<%= user_class(user) %>">owner</span>
              <% end %>
              <br>
              <small class="email-in-edit-panel"><%= user.email %></small>
            </div>
          </li>
        <% end %>
      </ul>
      <div class="panel-footer clearfix">
        <% if @list.owner == current_user %>
          <%= form_tag(list_path(@list), :method => :delete) do %>
            <button class="btn btn-link pull-left" type="submit"><i class="fa fa-trash-o fa-fw" aria-hidden="true"></i></button>
          <% end %>
        <% end %>
        <%= link_to "Close", list_path(@list), class: "btn btn-primary pull-right" %>
      </div>
    </div>
  </div>

  <div class="col-sm-7">
    <fieldset disabled>
      <%= render "tasks/tasks_panel" %>
    </fieldset>
  </div>
</div>
