<div class="row">
  <div class="col-sm-4">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="panel-title">
            <a data-toggle="collapse" href="#collapse1"><i class="fa fa-tasks fa-fw" aria-hidden="true"></i> Tasks</a>
          </span>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="list-group">
            <a href="#" class="list-group-item">
              <span class="badge"><%= current_user.tasks.incomplete.count %></span>
              <i class="fa fa-square-o fa-fw" aria-hidden="true"></i> Remaining
            </a>
            <% if current_user.assigned_tasks.incomplete.any? %>
              <a href="#" class="list-group-item">
                <span class="badge"><%= current_user.assigned_tasks.incomplete.count %></span>
                <i class="fa fa-user fa-fw text-primary" aria-hidden="true"></i> Assigned to me <small>(from shared lists)</small>
              </a>
            <% end %>
            <a href="#" class="list-group-item">
              <span class="badge">1</span>
              <i class="fa fa-flag fa-fw text-danger" aria-hidden="true"></i> Urgent
            </a>
            <a href="#" class="list-group-item">
              <span class="badge">2</span>
              <i class="fa fa-star fa-fw" aria-hidden="true"></i> Starred
            </a>
            <a href="#" class="list-group-item">
              <span class="badge">3</span>
              <i class="fa fa-clock-o fa-fw text-danger" aria-hidden="true"></i> Overdue
            </a>
            <a href="#" class="list-group-item">
              <span class="badge">4</span>
              <i class="fa fa-calendar-times-o fa-fw text-warning" aria-hidden="true"></i> Due Today
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title"><i class="fa fa-list fa-fw" aria-hidden="true"></i> Lists</span>
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-link btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-sort fa-fw" aria-hidden="true"></i>
          </button>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Sort</li>
            <li><a href="#"><i class="fa fa-sort-alpha-asc fa-fw" aria-hidden="true"></i> Alphabetically</a></li>
            <li><a href="#"><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> Creation Date</a></li>
            <li><a href="#"><i class="fa fa-sort-numeric-desc fa-fw" aria-hidden="true"></i> Incomplete Tasks</a></li>
            <li><a href="#"><i class="fa fa-sort-numeric-asc fa-fw" aria-hidden="true"></i> Incomplete Tasks</a></li>
          </ul>
        </div>
      </div>
      <div class="panel-body">
        <%= form_for @list do |f| %>
          <div class="form-group <%= "has-error" if @list.errors[:name].any? %> form-group-in-panel">
            <div class="input-group">
              <span class="input-group-btn">
                <%= button_tag(type: "submit", class: "btn btn-default") do %>
                  <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
                <% end %>
              </span>
              <%= f.text_field :name, placeholder: @list.errors.full_messages_for(:name).first || "Create new list", class: "form-control", 'aria-describedby': "new-list-addon" %>
            </div>
            <!-- <%= f.submit :style => "display: none" %> -->
          </div>
        <% end %>
      </div>
      <div class="list-group">
        <%= render :collection => @lists, :partial => "lists/list_li", :as => :list %>
      </div>
    </div>
  </div>
</div>
