<div class="row">
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-tags" aria-hidden="true"></span> Tasks
      </div>
      <div class="list-group">
        <a href="#" class="list-group-item">
          <span class="badge"><%= current_user.tasks.incomplete.count %></span>
          <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> All
        </a>
        <% if current_user.assigned_tasks.incomplete.any? %>
          <a href="#" class="list-group-item">
            <span class="badge"><%= current_user.assigned_tasks.incomplete.count %></span>
            <span class="glyphicon glyphicon-user text-info" aria-hidden="true"></span> Assigned to me (from shared lists)
          </a>
        <% end %>
        <a href="#" class="list-group-item">
          <span class="badge">2</span>
          <span class="glyphicon glyphicon-flag text-danger" aria-hidden="true"></span> Important
        </a>
        <a href="#" class="list-group-item">
          <span class="badge">3</span>
          <span class="glyphicon glyphicon-time text-danger" aria-hidden="true"></span> Overdue
        </a>
        <a href="#" class="list-group-item">
          <span class="badge">4</span>
          <span class="glyphicon glyphicon-calendar text-warning" aria-hidden="true"></span> Due Today
        </a>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Lists
      </div>
      <div class="list-group">
        <%= form_for @list do |f| %>
          <div class="form-group list-group-item">
            <div class="input-group">
              <span class="input-group-btn">
                <%= button_tag(type: "submit", class: "btn btn-default") do %>
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <% end %>
              </span>
              <%= f.text_field :name, placeholder: @list.errors.full_messages_for(:name).first || "Create new list", class: "form-control", 'aria-describedby': "new-list-addon" %>
            </div>
            <!-- <%= f.submit :style => "display: none" %> -->
          </div>
        <% end %>
        <% @lists.each do |list| %>
          <a href="<%= list_path(list) %>" class="list-group-item">
            <span class="badge"><%= number_of_incomplete_tasks(list) if !list.all_tasks_completed? %></span>
            <%= list.name %>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>
