<div class="row">
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Side-bar
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge">1</span>
          A
        </li>
        <li class="list-group-item">
          <span class="badge">2</span>
          B
        </li>
        <!-- <li class="list-group-item">C</li> -->
      </ul>
    </div>
  </div>

  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Lists
      </div>
      <div class="list-group">
        <%= form_for @list do |f| %>
          <div class="list-group-item">
            <div class="input-group">
              <span class="input-group-btn">
                <!-- <button class="btn btn-default" type="button">Go!</button> -->
                <!-- <%= submit_tag "Submit", class: "btn btn-default" %> -->
                <%= button_tag(type: "submit", class: "btn btn-default") do %>
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <% end %>
              </span>
              <!-- <span class="input-group-addon" id="new-list-addon"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></span> -->
              <%= f.text_field :name, placeholder: @list.errors.full_messages_for(:name).first || "Create new list", class: "form-control", 'aria-describedby': "new-list-addon" %>
            </div>
            <!-- <%= f.submit :style => "display: none" %> -->
          </div>
        <% end %>
        <% @lists.each do |list| %>
          <a href="<%= list_path(list) %>" class="list-group-item">
            <span class="badge"><%= number_of_incomplete_tasks(list) if !list.all_tasks_completed? %></span>
            <%= list.name %>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>
