<div class="row">
  <div class="col-sm-4">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="panel-title">
            <a data-toggle="collapse" href="#collapse1" class="panel-title"><i class="fa fa-tasks fa-fw" aria-hidden="true"></i> <%= @list.name %></a>
          </span>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-link btn-xs pull-right" data-toggle="modal" data-target="#myModal" data-remote="<%= edit_list_path(@list) %> #editListModal">
            <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
          </button>
          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <!-- content from lists/edit.html.erb injected into .modal-content div -->
              </div>
            </div>
          </div>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="list-group">
            <% if @list.shared_list? %>
              <ul class="list-group-item list-unstyled">
                <% @list.users.each do |user| %>
                  <li>
                    <% if user == current_user %>
                      <i class="fa fa-user-circle fa-fw text-primary" aria-hidden="true"></i>
                    <% else %>
                      <i class="fa fa-user-circle-o fa-fw text-success" aria-hidden="true"></i>
                    <% end %>
                    <%= user.name %>
                    <% if @list.user_permission(user) == "owner" %>
                      <span class="label label-<%= user_class(user) %>">owner</span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>
            <a href="#" class="list-group-item">
              <span class="badge"><%= number_of_incomplete_tasks(@list) %></span>
              <i class="fa fa-square-o fa-fw" aria-hidden="true"></i> Remaining
            </a>
            <% if @list.shared_list? && @list.tasks.incomplete.assigned_to_user(current_user).any? %>
              <a href="#" class="list-group-item">
                <span class="badge"><%= number_of_incomplete_tasks_assigned_to_user(@list, current_user) %></span>
                <i class="fa fa-user fa-fw text-primary" aria-hidden="true"></i> Assigned to me
              </a>
            <% end %>
            <a href="#" class="list-group-item">
              <span class="badge">2</span>
              <i class="fa fa-flag fa-fw text-danger" aria-hidden="true"></i> Urgent
            </a>
            <a href="#" class="list-group-item">
              <span class="badge">2</span>
              <i class="fa fa-flag-o fa-fw text-warning" aria-hidden="true"></i> Important
            </a>
            <a href="#" class="list-group-item">
              <span class="badge">3</span>
              <i class="fa fa-clock-o fa-fw text-danger" aria-hidden="true"></i> Overdue
            </a>
            <a href="#" class="list-group-item">
              <span class="badge">4</span>
              <i class="fa fa-calendar-times-o fa-fw text-warning" aria-hidden="true"></i> Due Today
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title">
          <% if @list.shared_list? %>
            <i class="fa fa-users fa-fw text-success" aria-hidden="true"></i>
          <% else %>
            <i class="fa fa-user-o fa-fw text-primary" aria-hidden="true"></i>
          <% end %>
          <%= @list.name %>
        </span>
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-link btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-sort fa-fw" aria-hidden="true"></i>
          </button>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Sort</li>
            <li><a href="#"><i class="fa fa-sort-alpha-asc fa-fw" aria-hidden="true"></i> Alphabetically</a></li>
            <li><a href="#"><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> Creation Date</a></li>
            <li><a href="#"><i class="fa fa-flag-o fa-fw" aria-hidden="true"></i> Priority</a></li>
            <li><a href="#"><i class="fa fa-user-o fa-fw" aria-hidden="true"></i> Assignee</a></li>
          </ul>
        </div>
      </div>
      <div class="panel-body">
        <%= form_for([@list, @task]) do |f| %>
          <div class="form-group <%= "has-error" if @task.errors[:description].any? %> form-group-in-panel">
            <div class="input-group">
              <span class="input-group-btn">
                <%= button_tag(type: "submit", class: "btn btn-default") do %>
                  <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
                <% end %>
              </span>
              <%= f.text_field :description, autofocus: true, placeholder: @task.errors.full_messages_for(:description).first || "Create new task", class: "form-control", 'aria-describedby': "new-list-addon" %>
            </div>
            <!-- <%= f.submit :style => "display: none" %> -->
          </div>
        <% end %>
      </div>
      <ul class="list-group my-tasks">
        <%= render :collection => @list.tasks, :partial => "tasks/task_li", :as => :task %>
      </ul>




      <!-- <ul class="list-group">
        <%# @list.tasks.each do |task| %>
          <%# if task.valid? %>
            <li class="list-group-item">
              <%# form_for_task_status(task) %>
              <a href="<%# list_task_path(@list, task) %>">
                <%# task.description %>
              </a>
              <%# if task.assigned_user %>
                <%# if task.assigned_user == current_user %>
                  <i class="fa fa-user-circle fa-fw text-primary pull-right" aria-hidden="true"></i>
                <%# else %>
                  <span class="label label-success pull-right">
                    <i class="fa fa-user-circle fa-fw" aria-hidden="true"></i><%# user_initials(task.assigned_user) %>
                  </span>
                <%# end %>
              <%# end %>
            </li>
          <%# end %>
        <%# end %>
      </ul> -->


    </div>
  </div>
</div>
