<div class="row">
  <div class="col-sm-4">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="panel-title">
            <a data-toggle="collapse" href="#collapse1" class="panel-title"><i class="fa fa-tasks fa-fw" aria-hidden="true"></i> <%= @list.name %></a>
          </span>
          <%= link_to "<i class='fa fa-pencil fa-fw text-muted' aria-hidden='true'></i>".html_safe, edit_list_path(@list), class: "pull-right" %>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <ul class="list-group">
            <% if @list.shared_list? %>
              <ul class="list-group-item list-unstyled">
                <% @list.users.each do |user| %>
                  <li>
                    <% if user == current_user %>
                      <i class="fa fa-user-circle fa-fw text-primary" aria-hidden="true"></i>
                    <% else %>
                      <i class="fa fa-user-circle-o fa-fw text-success" aria-hidden="true"></i>
                    <% end %>
                    <%= user.name %>
                    <% if @list.owner == user %>
                      <span class="label label-<%= user_class(user) %>">owner</span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>
            <li class="list-group-item">
              <span class="badge"><%= number_of_incomplete_tasks(@list) %></span>
              <i class="fa fa-square-o fa-fw" aria-hidden="true"></i> All
            </li>
            <% if @list.tasks.incomplete.starred.any? %>
              <li class="list-group-item">
                <span class="badge"><%= number_of_incomplete_starred_tasks(@list) %></span>
                <i class="fa fa-star fa-fw text-warning" aria-hidden="true"></i> Starred
              </li>
            <% end %>
            <% if @list.shared_list? && @list.tasks.incomplete.assigned_to_user(current_user).any? %>
              <li class="list-group-item">
                <span class="badge"><%= number_of_incomplete_tasks_assigned_to_user(@list, current_user) %></span>
                <i class="fa fa-user fa-fw text-primary" aria-hidden="true"></i> Assigned to me
              </li>
            <% end %>
            <% if @list.tasks.incomplete.overdue.any? %>
              <li class="list-group-item">
                <span class="badge"><%= number_of_incomplete_tasks_overdue(@list) %></span>
                <i class="fa fa-calendar-times-o fa-fw text-danger" aria-hidden="true"></i> Overdue
              </li>
            <% end %>
            <% if @list.tasks.incomplete.due_today.any? %>
              <li class="list-group-item">
                <span class="badge"><%= number_of_incomplete_tasks_due_today(@list) %></span>
                <i class="fa fa-calendar-check-o fa-fw text-warning" aria-hidden="true"></i> Due Today
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-8">
    <%= render "tasks/tasks_panel" %>
  </div>
</div>
