<div class="row">
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> <%= @list.name %>
      </div>
      <div class="list-group">
        <% if @list.shared_list? %>
          <li class="list-group-item">
            Members<br>
            <ul class="list-unstyled">
              <% @list.users.each do |user| %>
                <li>
                  <span class="glyphicon glyphicon-user text-<%= member_glyphicon_and_label_class(user) %>" aria-hidden="true"></span> <%= user.name %>
                  <% if @list.user_permission(user) == "owner" %>
                    <span class="label label-<%= member_glyphicon_and_label_class(user) %>">owner</span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
        <a href="#" class="list-group-item">
          <span class="badge"><%= @list.tasks.count %></span>
          <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> All
        </a>
        <a href="#" class="list-group-item">
          <span class="badge"><%= number_of_incomplete_tasks(@list) %></span>
          <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> Incomplete
        </a>
        <a href="#" class="list-group-item">
          <span class="badge"><%= number_of_completed_tasks(@list) %></span>
          <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Completed
        </a>
        <% if @list.shared_list? && @list.tasks.assigned_to_user(current_user).any? %>
          <a href="#" class="list-group-item">
            <span class="badge"><%= number_of_tasks_assigned_to_user(@list, current_user) %></span>
            <span class="glyphicon glyphicon-user text-info" aria-hidden="true"></span> Assigned to me
          </a>
        <% end %>
        <a href="#" class="list-group-item">
          <span class="badge">2</span>
          <span class="glyphicon glyphicon-flag text-danger" aria-hidden="true"></span> Important
        </a>
        <a href="#" class="list-group-item">
          <span class="badge">3</span>
          <span class="glyphicon glyphicon-time text-danger" aria-hidden="true"></span> Overdue
        </a>
        <a href="#" class="list-group-item">
          <span class="badge">4</span>
          <span class="glyphicon glyphicon-calendar text-warning" aria-hidden="true"></span> Due Today
        </a>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> <%= @list.name %>
      </div>
      <div class="list-group">
        <%= form_for @task do |f| %>
          <div class="form-group list-group-item">
            <div class="input-group">
              <span class="input-group-btn">
                <%= button_tag(type: "submit", class: "btn btn-default") do %>
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <% end %>
              </span>
              <%= f.text_field :description, placeholder: @task.errors.full_messages_for(:description).first || "Create new task", class: "form-control", 'aria-describedby': "new-list-addon" %>
            </div>
            <!-- <%= f.submit :style => "display: none" %> -->
          </div>
        <% end %>
        <% @list.tasks.each do |task| %>
          <a href="<%= task_path(task) %>" class="list-group-item">
            <%= task.description %>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>
