<% display_sorted_tasks(@list) %>
<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <span class="panel-title pull-left">
      <% if @list.shared_list? %>
        <i class="fa fa-users fa-fw text-success" aria-hidden="true"></i>
      <% else %>
        <i class="fa fa-user-o fa-fw text-primary" aria-hidden="true"></i>
      <% end %>
      <%= @list.name %>
    </span>
    <%= form_tag(url_for_tasks_sort_form_for_list, method: "get", class: "pull-right") do %>
      <%= select_tag_for_tasks_sort_form_for_list(@list) %>
    <% end %>
  </div>
  <div class="panel-body">
    <%= form_for([@list, @task], :url => list_tasks_path(@list), :html => { :method => :post }) do |f| %>
      <div class="form-group form-group-in-panel">
        <div class="input-group">
          <%= f.text_field :description, autofocus: true, placeholder: "Create new task", class: "form-control", 'aria-describedby': "new-task-addon", value: "" %>
          <span class="input-group-btn">
            <%= button_tag(type: "submit", class: "btn btn-default") do %>
              <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
            <% end %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
  <ul class="list-group my-tasks", id="edit-selected">
    <%= render :collection => @tasks, :partial => "tasks/task_li", :as => :task %>
  </ul>
  <div class="panel-footer">
    <%= form_tag(url_for_display_tasks_option_form_for_list, method: "get") do %>
      <%= hidden_field_tag :display_tasks_option, value = "0" %>
      <%= check_box_tag :display_tasks_option, value = "1", checked = checked_option_for_display_tasks_option_form, :id => "toggle-event", :class => "toggle-status", :data => {:toggle => "toggle", :on => "Hide completed tasks", :off => "Show completed tasks", :width => "180"}, :disabled => @list.tasks.completed.empty? %>
    <% end %>
  </div>
</div>

<!-- script tag to display JSON response for tasks on list show page -->
<script id="tasks-template" type="text/x-handlebars-template">
  {{#each this}}
    {{#if status}}
      <li class="list-group-item completed">
    {{else}}
      <li class="list-group-item">
    {{/if}}
      <form class="edit_task" id="edit_task_{{id}}" action="/lists/{{list.id}}/tasks/{{id}}" accept-charset="UTF-8" method="post">
        <input name="utf8" type="hidden" value="✓">
        <input type="hidden" name="_method" value="patch">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input name="task[status]" type="hidden" value="0">
        {{#if status}}
          <input class="toggle-status" type="checkbox" value="1" checked="checked" name="task[status]" id="task_status">
        {{else}}
          <input class="toggle-status" type="checkbox" value="1" name="task[status]" id="task_status">
        {{/if}}
      </form>
      <form class="edit_task" id="edit_task_{{id}}" action="/lists/{{list.id}}/tasks/{{id}}" accept-charset="UTF-8" method="post">
        <input name="utf8" type="hidden" value="✓">
        <input type="hidden" name="_method" value="patch">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input name="task[priority]" type="hidden" value="0">
        {{#if priority}}
          <input class="toggle-priority" type="checkbox" value="1" checked="checked" name="task[priority]" id="task_priority">
        {{else}}
          <input class="toggle-priority" type="checkbox" value="1" name="task[priority]" id="task_priority">
        {{/if}}
      </form>
      <span class="task-description">{{description}}</span>
      <span class="task-icons">
        {{#if assigned_user}}
          <span data-toggle="tooltip" title="Assigned to {{assigned_user.name}}" data-container="body">
          {{#ifCond assigned_user.email '===' "<%= current_user.email %>"}}
            <i class="fa fa-user-circle fa-fw text-primary" aria-hidden="true"></i>
          {{else}}
            {{display_icon_with_user_initials}}
          {{/ifCond}}
          </span>
        {{/if}}
        {{#if note}}
          &nbsp;
          <span data-toggle="tooltip" title="{{note}}" data-container="body">
            <i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i>
          </span>
        {{/if}}
        {{#if due_date}}
          &nbsp;
          <span data-toggle="tooltip" title="{{display_calendar_tooltip}}" data-container="body">
            <i class="{{display_calendar_icon}}" aria-hidden="true"></i>
          </span>
        {{/if}}
      </span>
      <a class="btn btn-link edit-task" href="/lists/{{list.id}}/tasks/{{id}}/edit">
        <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
      </a>
      <a class="btn btn-link destroy" data-confirm="Do you really want to delete the {{task_description_upper_case}} task?" rel="nofollow" data-method="delete" href="/lists/{{list.id}}/tasks/{{id}}">
        <i class="fa fa-times fa-fw" aria-hidden="true"></i>
      </a>
    </li>
  {{/each}}
</script>

<!-- script tag to display JSON response for new task -->
<script id="task-template" type="text/x-handlebars-template">
  <li class="list-group-item">
    <form class="edit_task" id="edit_task_{{id}}" action="/lists/{{list_id}}/tasks/{{id}}" accept-charset="UTF-8" method="post">
      <input name="utf8" type="hidden" value="✓">
      <input type="hidden" name="_method" value="patch">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <input name="task[status]" type="hidden" value="0">
      <input class="toggle-status" type="checkbox" value="1" name="task[status]" id="task_status">
    </form>
    <form class="edit_task" id="edit_task_{{id}}" action="/lists/{{list_id}}/tasks/{{id}}" accept-charset="UTF-8" method="post">
      <input name="utf8" type="hidden" value="✓">
      <input type="hidden" name="_method" value="patch">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <input name="task[priority]" type="hidden" value="0">
      <input class="toggle-priority" type="checkbox" value="1" name="task[priority]" id="task_priority">
    </form>
    <span class="task-description">{{description}}</span>
    <span class="task-icons"></span>
    <a class="btn btn-link edit-task" href="/lists/{{list_id}}/tasks/{{id}}/edit">
      <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
    </a>
    <a class="btn btn-link destroy" data-confirm="Do you really want to delete the {{task_description_upper_case}} task?" rel="nofollow" data-method="delete" href="/lists/{{list_id}}/tasks/{{id}}">
      <i class="fa fa-times fa-fw" aria-hidden="true"></i>
    </a>
  </li>
</script>

<!-- MutationObserver script used to react to changes in DOM -->
<script>
  // select the target node
  var target = document.getElementById("edit-selected");
  // create an observer instance
  var observer = new MutationObserver(function() {
    $("input.toggle-status,input.toggle-priority,.edit-input,#toggle-event").on("change", function() {
      $(this).parents("form").trigger("submit");
    });
    $('[data-toggle="tooltip"]').tooltip();
  });
  // configuration of the observer:
  var config = { attributes: true, childList: true, characterData: true };
  // pass in the target node, as well as the observer options
  observer.observe(target, config);
</script>
