<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="panel-title">
        <a data-toggle="collapse" href="#collapse1"><i class="fa fa-tasks fa-fw" aria-hidden="true"></i> Tasks</a>
      </span>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="list-group">
        <a href="<%= tasks_path %>" class="list-group-item <%= active_class(tasks_path) %>">
          <span class="badge"><%= user_incomplete_tasks_count(current_user) %></span>
          <i class="fa fa-square-o fa-fw" aria-hidden="true"></i> All
        </a>
        <% if current_user.starred_tasks.incomplete.any? %>
          <a href="<%= starred_tasks_path %>" class="list-group-item <%= active_class(starred_tasks_path) %>">
            <span class="badge"><%= user_incomplete_starred_tasks(current_user) %></span>
            <i class="fa fa-star fa-fw" aria-hidden="true"></i> Starred
          </a>
        <% end %>
        <% if current_user.assigned_tasks.incomplete.any? %>
          <a href="<%= my_assigned_tasks_path %>" class="list-group-item <%= active_class(my_assigned_tasks_path) %>">
            <span class="badge"><%= user_incomplete_assigned_tasks(current_user) %></span>
            <i class="fa fa-user fa-fw text-primary" aria-hidden="true"></i> Assigned to me <small>(from shared lists)</small>
          </a>
        <% end %>
        <% if current_user.overdue_tasks.incomplete.any? %>
          <a href="<%= overdue_tasks_path %>" class="list-group-item <%= active_class(overdue_tasks_path) %>">
            <span class="badge"><%= user_incomplete_overdue_tasks(current_user) %></span>
            <i class="fa fa-calendar-times-o fa-fw text-danger" aria-hidden="true"></i> Overdue
          </a>
        <% end %>
        <% if current_user.due_today_tasks.incomplete.any? %>
          <a href="<%= due_today_tasks_path %>" class="list-group-item <%= active_class(due_today_tasks_path) %>">
            <span class="badge"><%= user_incomplete_due_today_tasks(current_user) %></span>
            <i class="fa fa-calendar-check-o fa-fw text-warning" aria-hidden="true"></i> Due Today
          </a>
        <% end %>
        <a href="<%= root_path %>" class="list-group-item <%= active_class(root_path, lists_path) %>">
          <i class="fa fa-list fa-fw" aria-hidden="true"></i> Lists
        </a>
        <li class="list-group-item">
          <% if current_page?(root_path) || current_page?(lists_path) || current_page?(tasks_path) %>
            <div class="form-group">
              <label for="listsSort">Lists</label>
              <%= form_tag(url_for_lists_sort_form, method: "get") do %>
                <%= select_tag :list_sort, options_for_select(["Sort by Creation Date", "Sort Alphabetically", "Sort by Incomplete Tasks"], selected: session[:list_sort]), class: "edit-input form-control", id: "listsSort", disabled: current_user.lists.empty? %>
              <% end %>
            </div>
          <% end %>
          <% if current_page?(tasks_path) || current_page?(starred_tasks_path) || current_page?(my_assigned_tasks_path) || current_page?(overdue_tasks_path) || current_page?(due_today_tasks_path) %>
            <% session[:task_sort] = params[:task_sort] if params[:task_sort] %>
            <div class="form-group">
              <label for="tasksSort">Tasks</label>
              <%= form_tag(url_for_tasks_sort_form, method: "get") do %>
                <%= select_tag :task_sort, options_for_select(["Sort by Creation Date", "Sort Alphabetically", "Sort by Priority", "Sort by Assignee"], selected: session[:task_sort]), class: "edit-input form-control", id: "tasksSort" %>
              <% end %>
            </div>
            <% session[:display_tasks_option] = params[:display_tasks_option] if params[:display_tasks_option] %>
            <div class="form-group">
              <%= form_tag(url_for_display_tasks_option_form, method: "get") do %>
                <%= hidden_field_tag :display_tasks_option, value = "0" %>
                <%= check_box_tag :display_tasks_option, value = "1", checked = checked_option_for_display_tasks_option_form, :id => "toggle-event", :class => "toggle-status", :data => {:toggle => "toggle", :on => "Hide completed tasks", :off => "Show completed tasks", :width => "180"}, :disabled => current_user.tasks.completed.empty? %>
              <% end %>
            </div>
          <% end %>
        </li>
      </div>
    </div>
  </div>
</div>
