<% if task.valid? %>
  <li class="list-group-item <%= li_class_for_task(task) %>">
    <%= form_for_task_status(task) %>
    <%= form_for_task_priority(task) %>
    <span class="task-description"><%= task.description %></span>
    <span class="task-icons">
      <% if task.assigned_user %>
        <% if task.assigned_user == current_user %>
          <i class="fa fa-user-circle fa-fw text-primary" aria-hidden="true"></i>
        <% else %>
          <span class="label label-success">
            <i class="fa fa-user-circle fa-fw" aria-hidden="true"></i><%= user_initials(task.assigned_user) %>
          </span>
        <% end %>
      <% end %>
    </span>
    <%= button_to "X", list_task_path(task.list, task), :method => "delete", :class => "destroy" %>
  </li>
<% end %>
