<% if task.valid? %>
  <li class="list-group-item <%= li_class_for_task(task) %>">
    <%= form_for_task_status(task) %>
    <%= form_for_task_priority(task) %>
    <span class="task-description"><%= task.description %></span>
    <span class="task-icons">
      <% if task.assigned_user %>
        <span data-toggle="tooltip" title="Assigned to <%= task.assigned_user.name %>" data-container="body">
          <% if task.assigned_user == current_user %>
            <i class="fa fa-user-circle fa-fw text-primary" aria-hidden="true"></i>
          <% else %>
            <span class="label label-success">
              <i class="fa fa-user-circle fa-fw" aria-hidden="true"></i><%= user_initials(task.assigned_user) %>
            </span>
          <% end %>
        </span>
      <% end %>
      <% if task.note.present? %>
        &nbsp;
        <span data-toggle="tooltip" title="<%= task.note %>" data-container="body">
          <i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i>
        </span>
      <% end %>
    </span>
    <%= link_to "<i class='fa fa-pencil fa-fw' aria-hidden='true'></i>".html_safe, edit_list_task_path(task.list, task), :class => "btn btn-link edit-task" %>
    <%= link_to "<i class='fa fa-times fa-fw' aria-hidden='true'></i>".html_safe, list_task_path(task.list, task), :method => "delete", :class => "btn btn-link destroy", "data-confirm" => "Do you really want to delete this task?" %>
  </li>
<% end %>
