<% display_sorted_tasks(@list) %>
<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <span class="panel-title pull-left">
      <% if @list.shared_list? %>
        <i class="fa fa-users fa-fw text-success" aria-hidden="true"></i>
      <% else %>
        <i class="fa fa-user-o fa-fw text-primary" aria-hidden="true"></i>
      <% end %>
      <%= @list.name %>
    </span>
    <%= form_tag(url_for_tasks_sort_form_for_list, method: "get", class: "pull-right") do %>
      <%= select_tag_for_tasks_sort_form_for_list(@list) %>
    <% end %>
    <!-- <div class="btn-group pull-right">
      <button type="button" class="btn btn-link btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-sort fa-fw fa-lg text-muted" aria-hidden="true"></i>
      </button>
      <ul class="dropdown-menu">
        <li class="dropdown-header">Sort</li>
        <li><a href="#"><i class="fa fa-sort-alpha-asc fa-fw" aria-hidden="true"></i> Alphabetically</a></li>
        <li><a href="#"><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> Creation Date</a></li>
        <li><a href="#"><i class="fa fa-star-o fa-fw" aria-hidden="true"></i> Priority</a></li>
        <li><a href="#"><i class="fa fa-user-o fa-fw" aria-hidden="true"></i> Assignee</a></li>
      </ul>
    </div> -->
  </div>
  <div class="panel-body">
    <%= form_for([@list, @task], :url => list_tasks_path(@list), :html => { :method => :post }) do |f| %>
      <div class="form-group form-group-in-panel">
        <div class="input-group">
          <%= f.text_field :description, autofocus: true, placeholder: "Create new task", class: "form-control", 'aria-describedby': "new-task-addon", value: "" %>
          <span class="input-group-btn">
            <%= button_tag(type: "submit", class: "btn btn-default") do %>
              <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
            <% end %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
  <ul class="list-group my-tasks", id="edit-selected">
    <%= render :collection => @tasks, :partial => "tasks/task_li", :as => :task %>
  </ul>
  <div class="panel-footer">
    <%= form_tag(url_for_display_tasks_option_form_for_list, method: "get") do %>
      <%= hidden_field_tag :display_tasks_option, value = "0" %>
      <%= check_box_tag :display_tasks_option, value = "1", checked = checked_option_for_display_tasks_option_form, :id => "toggle-event", :class => "toggle-status", :data => {:toggle => "toggle", :on => "Hide completed tasks", :off => "Show completed tasks", :width => "180"}, :disabled => @list.tasks.completed.empty? %>
    <% end %>
  </div>
</div>

<!-- placeholder to display JSON response -->
<div id="taskResult">
  <h2 id="taskDescription"></h2>
</div>
