<div class="row">
  <div class="col-sm-4">
    <%= render "tasks/tasks_status_panel"  %>
  </div>

  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <span class="panel-title pull-left"><i class="fa fa-<%= tasks_index_heading_icon %> fa-fw" aria-hidden="true"></i> <%= tasks_index_heading_title %></span>
        <span class="badge pull-right"><%= tasks_index_heading_badge %></span>
      </div>
      <div class="list-group">
        <%= render :collection => @lists, :partial => "lists/list_li_with_tasks", :as => :list %>
      </div>
    </div>
  </div>
</div>
